body {
    background: #eef2f7;
    font-family: Arial;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

textarea {
    width: 100%;
    height: 150px;
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;
}

button {
    padding: 12px 25px;
    background: #dcc31d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
